{% extends 'books/base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}
<!-- body block-->
<h1>All Authors</h1>
<div class="row mt-4">
  <div class="table-responsive m-2">
    <table class="table table-hover table-striped">
      <thead align="row">
        <tr class="table-info">
          <th>Author Number</th>
          <th>Author Picture</th>
          <th>Author Name</th>
        </tr>
      </thead>
      <tbody>
        {% for item in author_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><img style="object-fit: cover;" src="{{ item.picture.url }}" alt="" height="100" width="100"></td>
          <td><a href="{% url 'books:author-detail' item.id %}">{{ item.full_name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- body block-->
<script src=""></script>
{% endblock %}
