{% extends 'books/base.html' %}
{% load static %}
{% block content %}
<style type="text/css" media="screen">
  .imag {
    height: 130px;
  }

  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

  .rating>span:hover:before,
  .rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
  }
</style>
<!-- body block-->
<div class="row">
  <div class="col m-1">
    <div class="row">
      <div class="mr-3">
        <!-- Image -->
        <div class="row">
          <div class="border">
            <img class="m-1" src="{{ book.image.url }}" alt="StickToBox" width="200px" height="250px" style="object-fit: cover;">
          </div>
        </div>
        <!-- Image -->
      </div>
      <div class="col m-2">
        <h1>Book Information</h1>
        <!-- Book information -->
        <div class="row">
          <div class="col bg-light mb-2 mx-2">
            <h3 class="m-3">Book Information</h3>
            <h5 class="mx-3">Name: <span class="">{{ book.title }}</span></h5>
            <h5 class="mx-3">By: <span class="">{{book.author.all.0.full_name}}</span></h5>
            <h5 class="mx-3 mb-3">Rating: <span class="">
              <div id="rate" class="rating">
              <input type="radio" id="star5" name="rating" value="5" />
              <label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" />
              <label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" />
              <label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" />
              <label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" />
              <label for="star1" title="Sucks big time">1 star</label>
              </div></span>
            </h5>
          </div>
          <div class="col bg-light mb-2 mx-2">
            <h3 class="m-3">Description</h3>
            <p class="text-justify mx-3">{{ book.summary }}</p>
          </div>
        </div>
        <!-- Book information -->
        <div class="row">
          <div class="col-10 p-3">
            <div class="row"><h2 class="col">Reviews</h2></div>
            <div class="row">
              <div class="col border">
                {% for commentObject in book.profilebook_set.all %}
                <div class="row">
                  <div class="col-md-3">
                    <img class="m-3" style="object-fit: cover;" src="{% static "img/book.png" %}" width="80px" height="80px" alt="">
                  </div>
                  <div class="col m-3">
                    <p>{{ commentObject.comment }}</p>
                  </div>
                </div>
                {% endfor %}
<!--                 {% if user.is_authenticated %}
                <div class="row m-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="comment">
                  </div>
                </div>
                {% endif %} -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- body block-->
<script>
  function rateValue() {
    var inputs = document.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].checked) {
            return parseInt(inputs[i].value);
        }
      }
  }

  function printRate(x) {
      if (x >= 1 && x <= 5) {
          document.getElementById('star'+x).checked = true;
      } 
  }

  function clearRate() {
      var inputs = document.getElementsByTagName('input');
      for (var i=0; i<inputs.length; i++) {
          inputs[i].checked = false;
      }
  }

  document.body.onload = function(e) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var response = this.responseText;
            response = JSON.parse(response);
            printRate(response);
        }
    };
    xhttp.open("GET", "{% url 'books:service1' book.id %}", true);
    xhttp.send();
}
</script>
{% endblock %}
