{% extends 'books/base.html' %}
{% load static %}
{% block content %}
<style type="text/css" media="screen">
  .imag {
    height: 130px;
  }

  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

  .rating1>span:hover:before,
  .rating1>span:hover~span:before {
    content: "\2605";
    position: absolute;
  }
</style>
<!-- body block-->
<div class="row">
  <div class="col m-1">
    <div class="row">
      <div class="mr-3">
        <!-- Image -->
        <div class="row">
          <div class="border">
            <img class="m-1" src="{{ book.image.url }}" alt="StickToBox" width="200px" height="250px" style="object-fit: cover;">
          </div>
        </div>
        <div class="row my-3">
            <div class="col">
                    <div>
                            <select id="select" name="status">
                                <option id="default"></option>
                            </select>
                        </div>
                        <div id="rate" class="rating rating1">
                        <input type="radio" id="Star5" name="rating1" value="5" />
                        <label for="Star5" title="Rocks!">5 Stars</label>
                        <input type="radio" id="Star4" name="rating1" value="4" />
                        <label for="Star4" title="Pretty good">4 Stars</label>
                        <input type="radio" id="Star3" name="rating1" value="3" />
                        <label for="Star3" title="Meh">3 Stars</label>
                        <input type="radio" id="Star2" name="rating1" value="2" />
                        <label for="Star2" title="Kinda bad">2 Stars</label>
                        <input type="radio" id="Star1" name="rating1" value="1" />
                        <label for="Star1" title="Sucks big time">1 Star</label>
                      </div>
            </div>
        </div>
        <!-- Image -->
      </div>
      <div class="col m-2">
        <h1>Book Information</h1>
        <!-- Book information -->
        <div class="row">
          <div class="col bg-light mb-2 mx-2">
            <h3 class="m-3">Book Information</h3>
            <h5 class="mx-3">Name: <span class="">{{ book.title }}</span></h5>
            <h5 class="mx-3">By: <span class="">{{book.author.all.0.full_name}}</span></h5>
            <h5 class="mx-3 mb-3">Rating: <span class="">
                    <div id="overAllRate" class="rating">
                            <input type="radio" id="star5" name="rating" value="5" disabled/>
                            <label for="star5" title="Rocks!">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" disabled/>
                            <label for="star4" title="Pretty good">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" disabled/>
                            <label for="star3" title="Meh">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" disabled/>
                            <label for="star2" title="Kinda bad">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" disabled/>
                            <label for="star1" title="Sucks big time">1 star</label>
                          </div></span>
            </h5>
          </div>
          <div class="col bg-light mb-2 mx-2">
            <h3 class="m-3">Description</h3>
            <p class="text-justify mx-3">{{ book.summary }}</p>
          </div>
        </div>
        <!-- Book information -->
        <div class="row">
          <div class="col-10 p-3">
            <div class="row"><h2 class="col">Reviews</h2></div>
            <div class="row">
              <div class="col border">
                {% for commentObject in book.profilebook_set.all %}
                <div class="row">
                  <div class="col-md-3">
                    <img class="m-3" style="object-fit: cover;" src="{% static "img/book.png" %}" width="80px" height="80px" alt="">
                  </div>
                  <div class="col m-3">
                    <p>{{ commentObject.comment }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- body block-->
<script>
  function rateValue() {
    var inputs = document.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
        if (inputs[i].checked) {
            return parseInt(inputs[i].value);
        }
      }
  }

  function printRate(x) {
      if (x >= 1 && x <= 5) {
          document.getElementById('star'+x).checked = true;
      } 
  }

  function clearRate() {
      var inputs = document.getElementsByName('rating1');
      for (var i=0; i<inputs.length; i++) {
          inputs[i].checked = false;
      }
  }

  document.body.onload = function(e) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var response = this.responseText;
            response = JSON.parse(response);
            printRate(response);
        }
    };
    xhttp.open("GET", "{% url 'books:service1' book.id %}", true);
    xhttp.send();
}
    var stats = []
	  select=document.getElementById('select')
      function ajaxSuccess ()
		{
		  var response =JSON.parse(this.responseText)
		  // console.log(response)
		  for (var i = 0; i < response.length; i++) {
		  	console.log(response[i][1])
		  	option = document.createElement('option')
			option.innerHTML=response[i][1]
			option.value=response[i][0]
			option.id=response[i][0]
			select.appendChild(option)
		  };
		}
		
		function curStatus()
		{
		  var response =JSON.parse(this.responseText)
		  Default = document.getElementById('default')
		  option = document.getElementById(response).textContent
		  Default.innerHTML=''
		  console.log(response)
		  Default.innerHTML = option
		  // select.value=response
		  
		}

		document.addEventListener("DOMContentLoaded", function () {
		    var oReq = new XMLHttpRequest();
		    oReq.onload = ajaxSuccess;
		    oReq.open("GET", "{% url 'books:service3' %}", true);		    
		    oReq.send();

		})
		
		document.addEventListener("DOMContentLoaded", function () {    
		    var req = new XMLHttpRequest();
		    req.onload = curStatus;
		    req.open("GET", "{% url 'books:Status' book.id %}");	
		    req.send();
		})
		function ajaxSuccesss(){
			console.log("hello")
			res = (this.responseText)
			// console.log(res)
		}
		select.addEventListener('change', function(e) {
			var Req = new XMLHttpRequest();
		    Req.onload = ajaxSuccesss;
		    var selVal = select.value;
		    console.log(selVal)
		    Req.open("get", window.location.href+`edit?status=${selVal}`,true);
		    Req.send();
		})

		rating=document.getElementById('rate')
		rate.addEventListener('click', function(e) {
		console.log(e.target.value)
		if (e.target.value)
			{
				var starReq = new XMLHttpRequest();
			    starReq.onload = ajaxSuccesss;
			    var Rate = e.target.value;
			    console.log(Rate)
			    starReq.open("get", window.location.href+`rate?rate=${Rate}`,true);
			    starReq.send();
		    }
		})
</script>
{% endblock %}
