{% extends 'books/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<!-- body block-->
<h1>All Categories</h1>
<div class="row mt-4">
  <div class="table-responsive m-2">
    <table class="table table-hover table-striped">
      <thead align="row">
        <tr class="table-info">
          <th>Category Number</th>
          <th>Category Picture</th>
          <th>Category Name</th>
          <th>Favourite</th>
        </tr>
      </thead>
      <tbody>
        {% for item in category_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><img style="object-fit: cover;" src="{{ item.image.url }}" alt="" height="100" width="100"></td>
          <td><a href="{% url 'books:category-detail' item.id %}">{{ item.name }}</a></td>
          <td id="{{ item.id }}"><input type="checkbox" name=""></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- body block-->
<script>
    var favs = document.getElementsByTagName('input');
    for (var i=0; i<favs.length; i++) {
      favs[i].addEventListener('change', function(e) {
        var value = e.target.checked;
        var url = "{% url 'books:service5' 111 %}".replace('111', `dict(c_id=${e.target.parentElement.id},fav='${value}')`); 
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
              var response = this.responseText;
              response = JSON.parse(response);
          }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    })
    }
    
</script>
{% endblock %}
