{% extends 'books/base.html' %}

{% block content %}
<!-- body block-->
<h1>Category {{ category.name }}</h1>
<div class="row mt-4">
  <div class="table-responsive m-2">
    <table class="table table-hover table-striped">
      <thead align="row">
        <tr class="table-info">
          <th>Book Number</th>
          <th>Book Picture</th>
          <th>Book Name</th>
        </tr>
      </thead>
      <tbody>
        {% for item in category.book_set.all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><img style="object-fit: cover;" src="{{ item.image.url }}" alt="" height="90" width="70"></td>
          <td><a href="{% url 'books:book-detail' item.id %}">{{ item.title }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- body block-->
<script src=""></script>
{% endblock %}
