<!doctype html {% load static %}>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> <!-- bootstrap default styling file-->
    <!-- <link rel="stylesheet" href="{% static "css/myorders.css" %}"> -->
  </head>
  <body>
        <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">StickToBox</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Categories</a>
          <a class="nav-item nav-link" href="#">Books</a>
        </div>
        <!-- if logged in -->
        <img class="d-inline-block " src="#" alt="">
        <a class="nav-item nav-link" href="#">log out</a>
        <!-- if logged in -->
        <!-- if not logged in -->
        <form class="form-inline"> <!-- make it not flex ??-->
        <div class="form-group px-1">
          <input type="email" class="form-control" id="email-login" placeholder="Sign In">
        </div>
        <div class="form-group px-1">
          <input type="password" class="form-control" id="password-login" placeholder="Password">
        </div>
        <div class="form-check px-1">
          <input type="checkbox" class="form-check-input" id="remember-me-login">
          <label class="form-check-label" for="remember-me-login">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
      <!-- if not logged in -->
    </div>
  </nav>
  <!-- Navigation Bar-->
  <!-- Body -->
  <div class="container-fluid p-5">
    <div class="row">
      <!-- body block-->
      <div class="col m-1">
        <div class="row">
          <!-- Image -->
          <img class="bg-dark m-1" src="#" alt="StickToBox" width="200px" height="200px">
          <!-- Image -->
          <!-- Quote 1 -->
          <div class="col border m-1 text-xl-center bg-light"><h1>Quote 1</h1></div>
          <!-- Quote 1 -->
          <!-- Quote 2 -->
          <div class="col border m-1 text-xl-center bg-light"><h1>Quote 2</h1></div>
          <!-- Quote 2 -->
        </div>
        <div class="row">
          <!-- Categories block -->
          <div class="col-md-4 border m-1 text-xl-center bg-light"><h1>Categories</h1></div>
          <!-- Categories block -->
          <!-- Books block -->
          <div class="col border m-1 text-xl-center bg-light"><h1>Books</h1></div>
          <!-- Books block -->
        </div>
        
      </div>
      <!-- body block-->
      <!-- Sign Up block -->
      <div class="col-md-3 p-2">
        <form class="bg-light border p-4">
          <div class="form-group">
            <label for="exampleDropdownFormEmail2">Email address</label>
            <input type="email" class="form-control" id="email-signup" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="password-signup">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="password-confirm-signup">Confirm Password</label>
            <input type="password" class="form-control" id="password-confirm-signup" placeholder="Retype Password">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember-me-signup">
            <label class="form-check-label" for="remember-me-signup">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
      <!-- Sign Up block -->
    </div>
  </div>
  <!-- Body -->
</body>
  <!-- <script src="{% static "js/login.js" %}"></script> -->
</html>