{% extends 'books/base.html' %}

{% block content %}
<!-- body block-->
<div class="row">
  <div class="col m-1">
    <div class="row">
      <!-- Image -->
      <img class="bg-dark m-1" src="#" alt="StickToBox" width="200px" height="200px">
      <!-- Image -->
      <!-- Quote 1 -->
      <div class="col border m-1 text-xl-center bg-light">
        <!-- {% for author in Authors %} -->
<!--         {% for first_name in request.authors_list.first_name %}
        <p class="">first_name</p>
        {% endfor %}
 -->
      {{ authors_list }}
        <!-- {% endfor %} -->
      <!-- } -->
      </div>
      <!-- Quote 1 -->
    </div>
    <div class="row">
      <!-- Categories block -->
      <div class="col-md-4 border m-1 text-xl-center bg-light"><h1>Categories</h1></div>
      <!-- Categories block -->
      <!-- Books block -->
      <div class="col border m-1 text-xl-center bg-light"><h1>Books</h1></div>
      <!-- Books block -->
    </div>
  </div>
</div>
<!-- body block-->
{% endblock %}
