<!doctype html {% load static %}>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <title>Log In</title> -->
  <title>
    {% if user.is_authenticated %}
      Home
    {% else %}
      Stick To Box
    {% endif %}
  </title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> <!-- bootstrap default styling file-->
  <!-- <link rel="stylesheet" href="{% static "css/myorders.css" %}"> -->
</head>
<body>
      <!-- Navigation Bar-->
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'books:register' %}">StickToBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Categories</a>
        <a class="nav-item nav-link" href="#">Books</a>
      </div>
      {% if user.is_authenticated %}
        <!-- if logged in -->
        <img class="d-inline-block " src="#" alt="">
        <a class="nav-item nav-link" href="#">log out</a>
        <!-- if logged in -->
      {% else %}
        <!-- if not logged in -->
        <form class="form-inline" action="{% url 'books:check-login' %}" method="POST" > <!-- make it not flex ??-->
          {% csrf_token %}
          {% for field in lform %}
          <div class="form-group px-1">
            {{ field }}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <!-- if not logged in -->
      {% endif %}

    </div>
  </nav>
  <!-- Navigation Bar-->
  <!-- Body -->
  <div class="container-fluid p-5">
    <div class="row">
      <!-- body block-->
      <div class="col m-1">
        <div class="row">
          <!-- Image -->
          <img class="bg-dark m-1" src="#" alt="StickToBox" width="200px" height="200px">
          <!-- Image -->
          <!-- Quote 1 -->
          <div class="col border m-1 text-xl-center bg-light"><h1>{{ user }}</h1></div>
          <!-- Quote 1 -->
          <!-- Quote 2 -->
          <div class="col border m-1 text-xl-center bg-light"><h1>Quote 2</h1></div>
          <!-- Quote 2 -->
        </div>
        <div class="row">
          <!-- Categories block -->
          <div class="col-md-4 border m-1 text-xl-center bg-light"><h1>Categories</h1></div>
          <!-- Categories block -->
          <!-- Books block -->
          <div class="col border m-1 text-xl-center bg-light"><h1>Books</h1></div>
          <!-- Books block -->
        </div>
        
      </div>
      <!-- body block-->
      <!-- Sign Up block -->
      <div class="col-md-3 p-2">
        <form action="{% url 'books:check-register' %}" class="bg-light border p-4" method="POST" enctype="multipart/form-data" >
         {% csrf_token %}
		 {% for field in rform %}
          <div class="form-group">
            <label>{{field.label}}</label>
            {{ field }}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
      <!-- Sign Up block -->
    </div>
  </div>
  <!-- Body -->
</body>
  <!-- <script src="{% static "js/login.js" %}"></script> -->
</html>