{% extends 'books/base.html' %}

{% block content %}
<!-- body block-->
<input class="form-control" type="text" name="" id="search" placeholder="search">

<div id="Authors" style="display: none;">Authors</div>
<div id="Books" style="display: none;">Books</div>
<div id="Categories" style="display: none;">Categories</div>

<script type="text/javascript">
    search.addEventListener('change', function(e) {
        var search = document.getElementById('search');
        var myDiv = document.getElementById('myDiv');
        var searchValue = search.value;
        var url = "{% url 'books:search-service' 111 %}".replace('111', searchValue) ;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = this.responseText;
                response = JSON.parse(response);
                authors = response.results[0];
                books = response.results[1];
                categories = response.results[2];
                
                document.getElementById('Authors').innerHTML = '';
                if (authors.length) {
                    console.log(authors);
                    var ul = document.createElement('ul');
                    for (var i in authors) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        var url = "{% url 'books:author-detail' 111 %}".replace('111', authors[i].id);
                        a.setAttribute('href', url);
                        a.textContent = authors[i].first_name + ' ' + authors[i].last_name;
                        li.appendChild(a);
                        ul.appendChild(li);
                    }
                    document.getElementById('Authors').textContent = 'Authors';
                    document.getElementById('Authors').appendChild(ul);
                    document.getElementById('Authors').style.display = 'block';
                }
                
                document.getElementById('Books').innerHTML = '';
                if (books.length) {
                    console.log(books);
                    var ul = document.createElement('ul');
                    for (var i in books) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        var url = "{% url 'books:book-detail' 111 %}".replace('111', books[i].id);
                        a.setAttribute('href', url);
                        a.textContent = books[i].title;
                        li.appendChild(a);
                        ul.appendChild(li);
                    }
                    document.getElementById('Books').textContent = 'Books';
                    document.getElementById('Books').appendChild(ul);
                    document.getElementById('Books').style.display = 'block';
                }

                document.getElementById('Categories').innerHTML = '';
                if (categories.length) {
                    console.log(categories);
                    var ul = document.createElement('ul');
                    for (var i in categories) {
                        var li = document.createElement('li');
                        var a = document.createElement('a');
                        var url = "{% url 'books:category-detail' 111 %}".replace('111', categories[i].id);
                        a.setAttribute('href', url);
                        a.textContent = categories[i].name;
                        li.appendChild(a);
                        ul.appendChild(li);
                    }
                    document.getElementById('Categories').textContent = 'Categories';
                    document.getElementById('Categories').appendChild(ul);
                    document.getElementById('Categories').style.display = 'block';
                }
                search.value = '';   
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    });
</script>
{% endblock %}